<ul>
  <% data.books.forEach(function(book) { %>
  <li>
    <a href="#year=<%= book.year %>&book=<%= book.isbn %>" data-isbn="<%= book.isbn %>">
      <div class="cover">
        <img
          alt=""
          <%= "loading" in Image.prototype ? "src" : "data-src" %>="./assets/covers/<%= book.isbn %>.jpg"
        >
      </div>
      <div class="metadata">
        <div class="title"><%= book.title %></div>
        <div class="author"><%= book.author %></div>
      </div>
    </a>
  <% }); %>
</ul>