<script class="remove-embedded" async="async" src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
<script class="remove-embedded">
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];

  googletag.cmd.push(function () {
    googletag.pubads().enableLazyLoad({
      fetchMarginPercent: 100, // fetch and render ads within this % of viewport
      renderMarginPercent: 100,
      mobileScaling: 1, // Same on mobile.
    });

    var storyID = "nx-s1-5075305"
    googletag.pubads().setTargeting("testserver", `true`);
    // googletag.pubads().setTargeting("storyId", storyID);
    googletag.pubads().enableSingleRequest();
    googletag.pubads().enableAsyncRendering();
    googletag.pubads().collapseEmptyDivs();
    googletag.pubads().disableInitialLoad();
    googletag.enableServices();
  });
</script>