<script>
var isProduction = <%= production %>;

var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
(function() {
    var gads = document.createElement('script');
    gads.async = true;
    gads.type = 'text/javascript';
    var useSSL = 'https:' == document.location.protocol;
    gads.src = 'https://securepubads.g.doubleclick.net/tag/js/gpt.js'
    var node = document.getElementsByTagName('script')[0];
    node.parentNode.insertBefore(gads, node);
})();

// GeoEdge is a vendor that lets us control which AdExchange ads show up on our website based on our guidelines.
// It should be added after the doubleclick script has been added to the page and before the googletag slot definitions on line 58.
window.grumi = window.grumi || {
    cfg: {
        advs: {
            '19566752': true, // Google Inc
            '4952276315': true, // IntowowBillable
            '88382072': true, // NPR - Programmatic
            '5056504790': true, // Pubmatic
            '5116496584': true, // Index Exchange
        },
    },
    key: '880a45f2-0015-49d2-b38f-2d26be44ae09',
};
const geoEdge = document.createElement('script');
geoEdge.async = true;
geoEdge.type = 'text/javascript';
geoEdge.src = 'https://rumcdn.geoedge.be/880a45f2-0015-49d2-b38f-2d26be44ae09/grumi-ip.js';
const lastNode = document.getElementsByTagName('script')[0];
lastNode.parentNode.insertBefore(geoEdge, lastNode);

// This code does not necessarily need to be wrapped in a DOMContentLoaded event
// if the divs being referenced here are guaranteed to be in the DOM at the time it's executed
// main.concierge and #ad-centerstage-wrap and #ad-secondary-wrap
// window.addEventListener('DOMContentLoaded', function() {
    var adSizeArray = [[320, 50]];
    var adUnitString = '/6735/NPR.APPS/arts___life_books/book_concierge';

    var mainColumn = document.querySelector('main.concierge');
    var columnWidth = window.innerWidth;
    if (mainColumn) {
        columnWidth = mainColumn.offsetWidth;
    }
    // Only add 728x90 ad to the ad request if the column width is wide enough to fit that ad.
    if (columnWidth > 728) {
        adSizeArray.push([728, 90]);
    }
    // Only add 970x250 ad to the ad request if the column width is wide enough to fit that ad.
    if (columnWidth > 970) {
        adSizeArray.push([970, 250]);
    }
    // value can be set to 'true' on testing servers. Must be set to 'false' on Prod
    var isStagingServer = isProduction ? false : true;
    // var isStagingServer = false;

    window.googletag = window.googletag || {cmd: []};
    googletag.cmd.push(function() {
      googletag.pubads().enableSingleRequest();
      googletag.pubads().collapseEmptyDivs();
      googletag.pubads().setTargeting('testserver', [isStagingServer]);

      googletag.defineSlot(adUnitString, adSizeArray, 'ad-centerstage-wrap')
        .setTargeting('ad_location_name', 'story_centerstage')
        .addService(googletag.pubads());
      googletag.defineSlot(adUnitString, adSizeArray, 'ad-secondary-wrap')
        .setTargeting('ad_location_name', 'secondary')
        .addService(googletag.pubads());

      googletag.pubads().addEventListener('slotRenderEnded', function(event) {
        // This class makes the "NPR thanks our sponsors" text visible only and only if an ad is returned in the request
        var slotElement = document.getElementById(`${event.slot.getSlotElementId()}`);
        console.log(event);
        if (!event.isEmpty) {
          console.log("add sponsorship header");
          slotElement.classList.add('has-sponsorship');
        } else {
          console.log("remove sponsorship header");
          // slotElement.classList.remove('has-sponsorship')
        }
      });
      googletag.enableServices();
      googletag.display('ad-centerstage-wrap');
      googletag.display('ad-secondary-wrap');
    });

// })

  // refresh ads every 60 seconds
  var refreshAd = setInterval(() => {
    console.log("refreshAd")
    window.googletag.cmd.push(() => {
      window.googletag.pubads().refresh()
    });
  }, 60000);
</script>
