.catalog {
  flex: 1;
  @corner: 4px;
  padding-left: 24px;

  @media @mobile {
    padding-left: 0;
  }

  [data-mode="book"] & {
    display: none;
  }

  [data-count="0"] &:after {
    content: "No results found";
    text-align: center;
    padding: 40px;
    display: block;
  }

  .clear-filters {
    .buttonBase();
    border-color: var(--header);
    color: var(--header);
    background: transparent;
    cursor: pointer;
    margin-left: 6px;

    @media @mobile {
      // we've got our own button on mobile
      display: none;
    }

    &::before {
      content: "";
      margin-left: 4px;
      float: right;
      background: url('./assets/icons/times-circle.svg') no-repeat;
      background-size: contain;
      width: .9rem;
      height: .9rem;
      display: inline-block;
      opacity: 0.7;
    }

    &:hover, &:focus {
      color: white;
      opacity: 0.6;
    }

    [data-tags="0"] & {
      display: none;
    }
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 12px;

    h3 {
      font-size: 18px;
    }

    .view-controls {
      order: 2;
    }

    @media @mobile {
      display: block;
      text-align: right;
    }
  }

  .view-controls {
    text-align: right;
    display: flex;
    justify-content: flex-end;

    svg {
      vertical-align: middle;
    }
  }

  input[type="radio"] {
    .sr-only;

    & + label {
      display: block;
      padding: 8px;
      border: 1px solid @accent;
      background: white;
      color: @accent;
      border-color: var(--accent);
      color: var(--accent);
      cursor: pointer;

      rect {
        fill: @accent;
        fill: var(--accent);
      }
    }

    &:checked + label {
      background: @accent;
      background: var(--accent);
      color: white;

      rect {
        fill: white;
      }
    }

    &:first-child + label {
      border-radius: @corner 0 0 @corner;
    }
  }

  label:last-child {
    border-radius: 0 @corner @corner 0;
  }
}

@import "covers";
@import "list";
