.catalog {
  flex: 1;
  @corner: 4px;
  padding-left: 24px;

  [data-mode="book"] & {
    display: none;
  }

  [data-count="0"] &:after {
    content: "No results found";
    text-align: center;
    padding: 40px;
    display: block;
  }

  .clear-filters {
    display: inline;
    border: 1px solid var(--accent);
    text-transform: uppercase;
    background: transparent;
    padding: 4px;
    cursor: pointer;

    [data-tags="0"] & {
      display: none;
    }
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .view-controls {
    text-align: right;
    padding: 12px 0;
    display: flex;
    justify-content: flex-end;

    svg {
      vertical-align: middle;
    }
  }

  input[type="radio"] {
    .sr-only;

    & + label {
      display: block;
      padding: 8px;
      border: 1px solid @accent;
      background: white;
      color: @accent;
      border-color: var(--accent);
      color: var(--accent);

      rect {
        fill: @accent;
        fill: var(--accent);
      }
    }

    &:checked + label {
      background: @accent;
      background: var(--accent);
      color: white;

      rect {
        fill: white;
      }
    }

    &:first-child + label {
      border-radius: @corner 0 0 @corner;
    }
  }

  label:last-child {
    border-radius: 0 @corner @corner 0;
  }
}

@import "covers";
@import "list";
