.filters {
  flex: 0 0 220px;
  padding: 4px;

  @media @mobile {
    display: none;
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0 0 12px 0;
  }

  input[type="checkbox"], input[type="radio"] {
    .sr-only;

    & + label {
      display: block;
      color: #888;
      padding: 4px;
      padding-right: 16px;
      margin-bottom: 4px;
      .gotham();
      position: relative;
      cursor: pointer;
      text-transform: uppercase;
      border: 1px solid #888;
    }

    &:hover + label,
    &:focus + label {
      outline: 1px solid #333;
      z-index: 999;
    }

    &:checked + label {
      background: @accent;
      background: var(--accent);
      transition: background .3s linear;
      color: white;

      &::after {
        content: "×";
        font-size: 150%;
        position: absolute;
        right: 4px;
        top: 0;
        line-height: 1;
      }
    }
  }

  input[type="radio"]:checked + label:after { content: ""; }
}