header.hero {
  background: #333;
  background: var(--header, #333);
  background-image: url(./assets/books-header.png);
  transition: background .3s linear;
  padding: 25px 15px 0 15px;
  color: white;

  @media @mobile-above {
    padding: 60px 40px 0 40px;
  }

  .books-home {
    color: white;
    text-decoration: none;
    font-size: 16px;
    .gotham();
    display: inline-block;
    margin-bottom: 1em;

    &:focus {
      outline: 1px dashed white;
    }

    img {
      display: inline;
      height: 24px;
      vertical-align: middle;
    }
  }

  h1, h2 {
    color: white;
    .gotham();
    margin: 0;
  }

  h1 {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.0;
    margin-bottom: .5em;

    @media @mobile-above {
      font-size: 48px;
    }
  }

  h2 { font-size: 36px; }

  p {
    margin: 0 0 2em 0;
  }

  .about-link {
  }

  .about-link a {
    color: black;
    display: inline-block;
    padding: 4px 12px;
    background: white;
    text-decoration: none;
    // float: right;
    text-transform: uppercase;
    opacity: .8;

    &:focus, &:hover {
      color: black;
      opacity: 1;
    }
  }

  // years in the header
  fieldset {
    border: none;
    padding: 22px 0 6px 0;

    .loading & {
      pointer-events: none;
    }

    input[type="checkbox"], input[type="radio"] {
      .sr-only;

      & + label {
        .gotham();
        position: relative;
        cursor: pointer;
        text-transform: uppercase;
        color: #fff;
        padding: 8px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        @media @mobile-above {
          padding: 10px 15px;
        }
      }

      &:hover + label,
      &:focus + label {
        z-index: 999;
      }

      &:checked + label {
        background-color: #F8F8F8;
        font-weight: bold;
        color: var(--accent);
      }
    }
  }
}
