header.hero {
  // background: #4a4a4a;
  // background: #19262f;
  background: var(--header, #333);
  // background: linear-gradient(0deg, var(--accent-spin) 0%, var(--accent) 100%);
  // background-image: url(./assets/books-header.png);
  transition: background .3s linear;
  padding: 25px 15px 0 15px;
  color: white;
  position: relative;

  @media @tablet-above {
    padding: 40px 40px 0 40px;
  }

  .books-home {
    color: white;
    text-decoration: none;
    font-size: 16px;
    .gotham();
    display: inline-block;
    margin-bottom: 1em;

    &:focus {
      outline: 1px dashed white;
    }

    img {
      display: inline;
      height: 24px;
      vertical-align: middle;
    }
  }

  h1, h2 {
    color: white;
    .gotham();
    margin: 0;
  }

  h1 {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.0;
    margin-bottom: .3em;

    @media @mobile-above {
      font-size: 48px;
    }
  }

  h2 { font-size: 36px; }

  p {
    .gotham();
    font-size: 12px;
    margin: 0 0 1.5em 0;

    @media @mobile-above {
      font-size: 13px;
    }

    &.bylines {
    }

    &.about-link {
      margin: 0;
      position: absolute;

      @media @tablet {
        right: 20px;
        top: 25px;
      }

      @media @tablet-above {
        right: 40px;
        bottom: 10px;
      }
    }

    &.back-link {
      margin: 0;
      padding-bottom: 22px;
    }

    &.about-link a,
    &.back-link a {
      .buttonBase();
      background: fade(white, 25%);
      border: none;
      color: white;

      &:focus, &:hover {
        background: fade(white, 40%);
      }
    }
  }

  // years in the header
  fieldset {
    border: none;
    padding: 0 0 6px 0;
    clear: both;

    @media @mobile {
      margin-left: -7px;
      margin-right: -7px;
    }

    @media @tablet-above {
      padding-top: 22px;
    }

    .loading & {
      pointer-events: none;
    }

    input[type="checkbox"], input[type="radio"] {
      .sr-only;

      & + label {
        .gotham();
        position: relative;
        cursor: pointer;
        text-transform: uppercase;
        color: #fff;
        padding: 8px 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        text-align: center;
        font-size: 12px;

        @media @tablet {
          display: inline-block;
          margin-bottom: -8px;
          width: floor((100% / 7) - 1);
        }

        @media @mobile-above {
          font-size: 14px;
        }

        @media @tablet-above {
          padding: 10px 15px;
        }
      }

      &:hover + label,
      &:focus + label {
        z-index: 999;
        background: fade(#fff, 20%);
      }

      &:focus + label {
        text-decoration: underline;
      }

      &:checked + label {
        background-color: #F8F8F8;
        font-weight: bold;
        color: var(--accent);
        border-top: 2px solid var(--accent);
      }
    }
  }
}
