@import "base";

body {
  background: @books-offwhite;
  color: #333;
}

main.concierge {
  .sans();
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin: auto;
  max-width: 2000px;
  min-height: 80vh;
  padding: 0px 0px 40px 0px;

  @media @tablet-above {
    padding: 0px;
  }
}

.right-side {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
}

.divider {
  flex: 1 100%;
  width: 80%;
  margin: 10px auto;
  border-bottom: 1px solid @accent-light;
}

.catalog-covers, .catalog-list {
  flex: 1 100%;
}

#ad-secondary-wrap {
  flex: 1 100%;
}

h3 {
  display: block;
  margin: 0;
  font-weight: normal;
  font-size: 22px;
}

@accent: teal;

@import "theming";
@import "header";
@import "filters";
@import "catalog";
@import "book";
@import "fab";
@import "footer";
@import "sponsorship";
@import "about";
@import "print";

.screenshot {
  .catalog-covers {
    columns: 18;
    column-gap: 0;

    .book-container {
      margin-bottom: -2px;
    }
  }

  .filters {
    display: none;
  }
}
