@import "base";

body {
  background: #F8F8F8;
}

main.concierge {
  display: flex;
  margin: auto;
  max-width: 2000px;
  .gotham();
  padding: 60px 40px;

  @media @mobile {
    padding: 60px 12px;
  }
}

h3 {
  display: block;
  margin: 0;
  font-weight: normal;
  font-size: 22px;
}

@accent: teal;

@import "header";
@import "filters";
@import "catalog";
@import "book";
@import "fab";
@import "footer";
@import "theming";