@accent-2013: #cd4932;
@header-2013: #f2ece2;
@accent-2014: #74b7a9;
@header-2014: #7c99c9;
@accent-2015: #74b7a9;
@header-2015: #45798a;
@accent-2016: #399868;
@header-2016: @accent-2015;
@accent-2017: #b53765;
@header-2017: #dd5d36;
@accent-2018: #1097c3;
@header-2018: @accent-2018;

.setup-year(@year, @accent, @header) {
  body[data-year="@{year}"] {
    --accent: @accent;
    --header: @header;
  };
}

.setup-year(2013, @accent-2013, @header-2013);
.setup-year(2014, @accent-2014, @header-2014);
.setup-year(2015, @accent-2015, @header-2015);
.setup-year(2016, @accent-2016, @header-2016);
.setup-year(2017, @accent-2017, @header-2017);
.setup-year(2018, @accent-2018, @header-2018);