.setup-year(@year, @accent, @header) {
  body[data-year="@{year}"] {
    --accent: @header;
    --accent-spin: @accent;
    --header: @header;
  };
}

.setup-year(2013, @books-red, @books-gold);
.setup-year(2014, @books-blue, @books-red);
.setup-year(2015, @books-gold, @books-blue);
.setup-year(2016, @books-red, @books-gold);
.setup-year(2017, @books-blue, @books-red);
.setup-year(2018, @books-gold, @books-blue);
.setup-year(2019, @books-red, @books-gold);
.setup-year(2020, @books-blue, @books-red);
.setup-year(2021, @books-gold, @books-blue);
.setup-year(2022, @books-red, @books-gold);
