// Media queries
@mobile: ~"(max-width: 600px)";
@mobile-above: ~"(min-width: 601px)";
@tablet: ~"(max-width: 768px)";
@tablet-above: ~"(min-width: 769px)";
@desktop: ~"(max-width: 1000px)";
@desktop-above: ~"(min-width: 1001px)";

// Year scroll width fix
@year-scroll: ~"(max-width: 830px)";
@year-scroll-above: ~"(min-width: 830.1px)";

// Fonts
@lato: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@sourceSansPro: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@gotham: @lato;
@knockout: @sourceSansPro;
@sans: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@serif: Georgia, "Times New Roman", Times, serif;

.lato() {
  font-family: @lato;
  font-weight: normal;
  letter-spacing: 0.015em;
}
.gotham() {
  .lato();
}

// Normal Knockout
.sourceSansPro() {
  font-family: @sourceSansPro;
  font-weight: 600;
  letter-spacing: 0.01em;
}
.knockout() {
  .sourceSansPro();
}

// Knockout, uppercased
.sourceSansPro-upper() {
  .sourceSansPro();
  text-transform: uppercase;
}
.knockout-upper() {
  .sourceSansPro-upper();
}

// Knockout for headings
.sourceSansPro-header() {
  .sourceSansPro-upper();
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
}
.knockout-header() {
  .sourceSansPro-header();
}

// colors
@accent-dark: #4774CC;
@accent-light: #bccae5;

@rigorous: #d62021;
@unbiased: #000005;
@true: #237bbd;

// BWL rebrand
@books-red: #D03D2A;
@books-gold: #CA8B51;
@books-blue: #5c77b6;
@books-beige: #E6D9CB;
@books-offwhite: #ebe9e5;


// other mixins
.buttonBase() {
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
  font-size: 11px;
  padding: 5px 6px;
  text-decoration: none;
  text-transform: capitalize;
  white-space: nowrap;

  @media @mobile-above {
    font-size: 12px;
  }
}

// a11y

.sr-only {
  clip: inset;
  width: 1px;
  height: 1px;
  position: absolute;
  left: -1000px;
}
