<form class="fab-form">

  <button class="fab-button clear">
    Clear
  </button>

  <div class="fab-button tags">
    <label for="fab-tags">Tags (<span class="fab-count">0</span>)</label>
    <select class="tags" id="fab-tags" multiple>
      <%
        // initialize tags
        var tags = new Set();
        shelf.forEach(function(item) {
          item.tags.forEach(t => tags.add(t));
        });
        Array.from(tags).sort().forEach(function(tag) { %>
      <option value="<%= tag %>"><%= tag.toUpperCase() %></option>
        <%
        })
      %>
    </select>
  </div>

</form>