<form class="filters" autocomplete="off">
  <!-- <h3>Filters</h3> -->
  <fieldset class="years" aria-label="Select a year">
    <% grunt.data.json.years.forEach(function(y) { %>
    <input type="radio" name="year-radio" id="year-<%= y.year %>" value="<%= y.year %>" <%= y.current ? "checked=checked" : "" %>>
    <label for="year-<%= y.year %>"><%= y.year %></label>
    <% }); %>
  </fieldset>
  <%
    // initialize tags
    var tags = new Set();
    shelf.forEach(function(item) {
      item.tags.split(/\|\s/).forEach(t => tags.add(t.trim()));
    });
  %>
  <fieldset class="tags" aria-label="Select tags">
    <% Array.from(tags).sort().forEach(function(tag) { %>
    <input type="checkbox" id="tag-<%= tag %>" value="<%= tag %>">
    <label for="tag-<%= tag %>"><%= tag %></label>
    <% }); %>
  </fieldset>
</form>