<form class="filters" autocomplete="off">
  <h3><%= json.copy.question %></h3>
  <p class="chatter">
    <%= json.copy.chatter %>
  </p>

  <div class="years-container">
    <label for="years">First, select a year</label>
    <select class="years" name="years" aria-label="Select a year">
      <% grunt.data.json.years.forEach(function(y) { %>
      <option value="<%= y.year %>" <%= y.current ? "selected" : "" %>><%= y.year %></option>
      <% }); %>
    </select>
  </div>
  
  <%
    // initialize tags
    var tags = json.tags.map(t => t.tag);
    var dashify = t => t.replace(/\s+/g, "-");
  %>
  <label for="tags">Then select your filters</label>
  <fieldset class="tags" aria-label="Select tags">
    <input type="checkbox" id="tag-staff-picks" value="staff picks">
    <label for="tag-staff-picks">Staff Picks</label>
    <% tags.sort().filter(t => t != "Staff Picks").forEach(function(tag) { %>
    <input type="checkbox" id="tag-<%= dashify(tag) %>" value="<%= tag.toLowerCase() %>">
    <label for="tag-<%= dashify(tag) %>"><%= tag %></label>
    <% }); %>
  </fieldset>
</form>