<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <header class="hero">
      <a href="https://npr.org/books" class="books-home">
        <img src="./assets/logo-outline.svg" alt="NPR">
        books
      </a>
      <h1>
        <img src="./assets/books-we-love.svg" alt="">
        <span class="sr-only"><%= json.copy.title %></span>
      </h1>

      <p class="back-link">
        <a href="index.html">&lsaquo; Back to books</a>
      </p>

    </header>

    <main class="about">
      <%= t.renderMarkdown(archieml.about.content) %>

      <div class="credits">
        <%= t.renderMarkdown(archieml.about.credits) %>
      </div>
    </main>

    <%= t.include("partials/_footer.html", { content: t.include("_footer.html") }) %>

    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
