<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <form class="filters" autocomplete="off">
      <%
        // set up tagging
        var years = new Set();
        var tags = new Set();
        shelf.forEach(function(item) {
          years.add(item.year);
          item.tags.split(/\|\s/).forEach(t => tags.add(t.trim()));
        });
      %>

      <fieldset class="years">
        <% Array.from(years).forEach(function(y, i) { %>
        <input type="checkbox" id="year-<%= y %>" value="<%= y %>" <%= !i ? "checked=checked" : "" %>>
        <label for="year-<%= y %>"><%= y %></label>
        <% }); %>
      </fieldset>

      <fieldset class="tags">
        <% for (var tag of tags) { %>
        <input type="checkbox" id="tag-<%= tag %>" value="<%= tag %>">
        <label for="tag-<%= tag %>"><%= tag %></label>
        <% } %>
      </fieldset>
    </form>

    <div class="book-shelf"></div>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
