<!doctype html>
<html lang="en-US">
  <head>
    <%
      var project = Object.assign({}, grunt.data.json.project, {
        title: json.copy.socialTitle,
        description: json.copy.socialDescription
      });
    %>
    <%= t.include("partials/_head.html", { project }) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body data-mode="covers">

    <header class="hero">
      <svg class="texture">
        <filter id="grain">
          <feTurbulence numOctaves=8 baseFrequency=".8" type="fractalNoise" />
          <!-- <feColorMatrix type="saturate" values="0" /> -->
          <feColorMatrix values="
            0 0 0 0 0
            0 0 0 0 0
            0 0 0 0 0
            0 0 0 1 0
          " />
          <feGaussianBlur stdDeviation=".5" />
        </filter>
        <rect x=0 y=0 width="100%" height="100%" filter="url(#grain)" opacity=".25" />
      </svg>
      <div class="raised">
        <h1>
          <img src="./assets/books-we-love.svg" alt="">
          <span class="sr-only"><%= json.copy.title %></span>
        </h1>

        <% if (json.copy.subtitle) { %>
        <h2>
          <img src="./assets/thoughtfully-curated.svg" alt="">
          <span class="sr-only"><%= json.copy.subtitle %></span>
        </h2>
        <% } %>

        <% if (json.copy.bylines) { %>
          <p class="bylines"><%= json.copy.bylines %></p>
        <% } %>
        <ul class="outbound">
          <li><a href="about.html">About Books We Love</a></li>
          <li><a href="https://www.npr.org/podcasts/510364/daily-books">Book of the Day Podcast</a></li>
          <li><a href="https://www.npr.org/newsletter/books">Newsletter</a></li>
        </ul>
      </div>

        <!-- <h3>Filters</h3> -->
    </header>

    <div id="ad-centerstage-wrap"></div>

    <main class="concierge">
      <div class="years-outer-container">
      <div class="years-container">
        <fieldset class="years" aria-label="Select a year">
          <% grunt.data.json.years.forEach(function(y) { %>
          <input type="radio" name="year-radio" id="year-<%= y.year %>" value="<%= y.year %>" <%= y.current ? "checked=checked" : "" %>>
          <label for="year-<%= y.year %>"><%= y.year %></label>
          <% }); %>
        </fieldset>
      </div>
      <div class="years-cover"></div>
    </div>
      <%= t.include("_filters.html") %>
      <%= t.include("_fab.html") %>
      <div class="right-side">

      <section class="catalog" aria-label="Catalog">

        <div class="section-header">

          <div class="view-controls">
            <input type="radio" id="view-covers" name="view-controls" value="covers" checked="checked">
            <label for="view-covers">
              <svg viewBox="0 0 30 10" preserveAspectRatio="none" width="30" height="18">
                <rect width="9" height="6" />
                <rect width="9" height="3" y="7" />
                <rect x="11" width="9" height="1" />
                <rect x="11" width="9" height="8" y="2" />
                <rect x="22" width="9" height="8" />
                <rect x="22" width="9" height="1" y="9" />
              </svg>
              Covers
            </label>
            <input type="radio" id="view-list" name="view-controls" value="list">
            <label for="view-list">
              <svg viewBox="0 0 1 30" preserveAspectRatio="none" width="30" height="18">
                <rect width="100%" height="9" />
                <rect y="11" width="100%" height="9" />
                <rect y="22" width="100%" height="9" />
              </svg>
              List
            </label>
          </div>

          <h3>
            <span aria-live="polite">Selected books (<span class="book-count"></span>)</span>
            <button class="clear-filters">
              Clear filters
              <span aria-hidden="true">
                <%= t.include("./assets/icons/times-circle.svg") %>
              </span>
            </button>
          </h3>
        </div>
        <ul class="catalog-covers">
          <% for (var i = 0; i < 100; i++) { %>
          <div class="placeholder book-container"></div>
          <% } %>
        </ul>

        <div class="catalog-list"></div>


      </section>

      <div class="book-detail-wrap">
      <div class="book-detail"></div>
      <div class="newsletter-callout">
        <p><em><%= json.copy.newsletter_language %></em></p>
      </div>
    </div>
    <div id="ad-secondary-wrap"></div>
  </div>
    </main>

    

    <%= t.include("partials/_footer.html", { content: t.include("_footer.html") }) %>
    <%= t.include("partials/_schema.html", { data: json.year2024 }) %>
    <script>
    window.conciergeData = {
      reviewers: <%= JSON.stringify(json.reviewers) %>
    };
    window.PROJECT_ANALYTICS = <%= JSON.stringify(json.project.analytics || {}) %>;
    </script>
    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
    <%= t.include("partials/_sponsorship.html", { "production": json.project.production }) %>
  </body>
</html>
