<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body data-mode="covers">

    <header class="hero">
      <a href="https://npr.org/books" class="books-home">
        <img src="./assets/logo-outline.svg" alt="NPR">
        books
      </a>
      <h1><%= json.copy.title %></h1>
      <h2><%= json.copy.subtitle %></h2>
      <p class="bylines">
        <%= json.copy.bylines %>
      </p>
      <p class="pubdate">
        Published on <%= json.copy.updated %>
      </p>
      
      <!-- <h3>Filters</h3> -->
      <fieldset class="years" aria-label="Select a year">
        <% grunt.data.json.years.forEach(function(y) { %>
        <input type="radio" name="year-radio" id="year-<%= y.year %>" value="<%= y.year %>" <%= y.current ? "checked=checked" : "" %>>
        <label for="year-<%= y.year %>"><%= y.year %></label>
        <% }); %>
      </fieldset>

    </header>

    <main class="concierge">
      <%= t.include("_filters.html") %>
      <%= t.include("_fab.html") %>

      <section class="catalog" aria-label="Catalog">

        <div class="section-header">
          <h3>
            Selected books (<span class="book-count"></span>)
            <button class="clear-filters">Clear filters</button>
          </h3>

          <div class="view-controls">
            <input type="radio" id="view-covers" name="view-controls" value="covers" checked="checked">
            <label for="view-covers">
              <svg viewBox="0 0 30 10" preserveAspectRatio="none" width="30" height="18">
                <rect width="9" height="6" />
                <rect width="9" height="3" y="7" />
                <rect x="11" width="9" height="1" />
                <rect x="11" width="9" height="8" y="2" />
                <rect x="22" width="9" height="8" />
                <rect x="22" width="9" height="1" y="9" />
              </svg>
              Covers
            </label>
            <input type="radio" id="view-list" name="view-controls" value="list">
            <label for="view-list">
              <svg viewBox="0 0 1 30" preserveAspectRatio="none" width="30" height="18">
                <rect width="100%" height="9" />
                <rect y="11" width="100%" height="9" />
                <rect y="22" width="100%" height="9" />
              </svg>
              List
            </label>
          </div>
        </div>

        <ul class="catalog-covers">
          <% for (var i = 0; i < 100; i++) { %>
          <div class="placeholder book-container"></div>
          <% } %>
        </ul>
        
        <div class="catalog-list"></div>
        
      </section>

      <div class="book-detail"></div>
    </main>

    <footer>
      <a href="https://npr.org">
        <img src="./assets/logo_lines.png" alt="NPR" class="logo">
      </a>
    </footer>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
